@import "~sass-mq";
@import "reset";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: #fff;
}

.row {
  *zoom: 1;
  margin-right: auto;
  margin-left: auto;
  max-width: $row-witdh;
  padding-left: 0px;
  padding-right: 0px;
}

//GRID
@include mq($from: mobile, $until: ipad) {
  .row {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@include mq($from: ipad, $until: tabletland) {
}
