$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$row-witdh: 1000px;

//RESPONSIVO
$mq-responsive: true;

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px,

    // Tweakpoints
    ipad: 1023px,
    tabletland: 1025px
);

$mq-static-breakpoint: desktop;
$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);